        @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Ubuntu:wght@300&display=swap');
        body {
            background-color: blanchedalmond;
        }
        
        * {
            margin: 0;
            padding: 0;
        }
        
        nav {
            font-family: 'Ubuntu', sans-serif;
        }
        
        nav ul {
            display: flex;
            list-style-type: none;
            background-color: rgb(0, 0, 0);
            height: 60px;
            color: azure;
            align-items: center;
        }
        
        nav ul li {
            padding: 0 12px;
        }
        
        .brand img {
            width: 55px;
            padding: 0 8px;
        }
        
        .brand {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: bolder;
        }
        
        .container {
            min-height: 72vh;
            background-color: black;
            color: white;
            font-family: 'Ubuntu', sans-serif;
            display: flex;
            margin: 23px auto;
            width: 48%;
            border-radius: 12px;
            padding: 35px;
            background-image: url('bg.jpg');
        }
        
        .bottom {
            position: sticky;
            height: 130px;
            background-color: black;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            flex-direction: column;
        }
        
        .icon {
            margin-top: 14px;
        }
        
        .icon i {
            cursor: pointer;
        }
        
        #myProgressbar {
            width: 80vw;
            text-align: center;
            cursor: pointer;
        }
        
        .songitemcontainer {
            margin-top: 70px;
        }
        
        .songItem {
            height: 50px;
            display: flex;
            background-color: rgb(101 86 71);
            /* width: 80%; */
            color: black;
            margin: 12px 0;
            justify-content: space-between;
            align-items: center;
            border-radius: 30px;
        }
        
        .songItem img {
            width: 48px;
            margin: 0 23px;
            border-radius: 34px;
        }
        
        .timestamp {
            margin: 0 23px;
        }
        
        .timestamp i {
            cursor: pointer;
        }
        
        .songinfo {
            position: absolute;
            left: 10vw;
            font-family: 'Ubuntu', sans-serif;
        }
        
        .songinfo img {
            opacity: 0;
            transition: opacityis ease-in;
        }